<h1>Bienvenidos a la plataforma de cursos de idiomas pensada exclusivamente para viajeros</h1>

<p *ngIf="loading">CARGANDO....</p>

<h2>

</h2>
<div class="cardsHome">

  <mat-card class="carda" style="background-color: #E0F2C4;"
            mode="side"
            position="start"
  >


    <img src="../../../../assets/img/imga.png">

  </mat-card>

  <mat-card class="cardb" style="background-color: #E0F2C4;"
            mode="side"
            position="start"
  >


    <img src="../../../../assets/img/imgb.png">
  </mat-card>

  <mat-card class="cardc" style="background-color: #E0F2C4;"
            mode="side"
            position="start">

    <img src="../../../../assets/img/imgc.png">

  </mat-card>

  <mat-card class="cardd" style="background-color: #E0F2C4;"
            mode="side"
            position="start"
  >


    <img src="../../../../assets/img/imgd.png">

  </mat-card>

  <mat-card class="carde" style="background-color: #E0F2C4;"
            mode="side"
            position="start"
  >

    <img src="../../../../assets/img/imge.png">

  </mat-card>

  <mat-card class="cardf" style="background-color: #E0F2C4;"
            mode="side"
            position="start"
  >

    <img src="../../../../assets/img/imgf.png">
  </mat-card>

</div>

